html, body, h2
{
    margin: 0;
    padding: 0;
}
header{
    background: #020024;
    color: azure;
    font-size: 15px;
    font-family: sans-serif;
}

nav{
    position: absolute;
    top: 110px;
    right: 120px;
}

img{
    padding: 3em;
    width: 200px;
    border-radius: 50%;
}

h2 {
    padding: 1em;
    text-align: center;
    color: azure;
}

main{
    background-image: linear-gradient(#020024 0%, #090979 35%,#00d4ff 100%);
    width: 2em auto;
    padding: 3em;
}